* {
  font-family: Inter;
}

.container {
  background: url(../img/bg.jpg) no-repeat;
  display: flex;

  width: 1920px;
  height: 712px;
}

.texts {
  display: flex;
  flex-direction: column;
  background: url(/img/tube.svg) no-repeat bottom 78px right;
  margin-left: 392px;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  color: #118976;
  text-shadow: 2px 2px 0px #ffffff;
  width: 644px;
  margin-top: 30px;
}
.logo {
  margin-right: auto;
  margin-top: 8px;
}

.features {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul li {
  display: flex;
  max-width: 357px;
  margin-right: auto;
  margin-left: 0;
}

.feature {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin-left: 20px;
}

.forms {
  width: 368px;
  height: 553px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-top: 107px;
  margin-bottom: 44px;
  margin-left: 124px;
  display: flex;
  flex-direction: column;
}

.offer {
  width: 278px;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #333333;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  display: inline-block;
  width: 304px;
  margin-left: 32px;
  text-align: center;
}

.price {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  text-align: center;
  color: #ff2c2c;
  margin-top: -10px;
}

.number {
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  color: #ff2c2c;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 254px;
  height: 150px;
  margin-left: 56px;
  margin-top: 80px;
}

input:not(:last-of-type) {
  margin-bottom: 12px;
}

.input {
  height: 42px;
  border: 1px solid #089c84;
  box-sizing: border-box;
  border-radius: 2px;
}

input.input::placeholder {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 116.75%;
  height: 42px;
  padding-left: 19px;
}

.input-country {
  background: url(../img/arrow.svg) no-repeat center right 16px;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff272b;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 254px;
  height: 56px;
  margin-top: 21px;
  margin-left: 56px;
}

.special {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #828282;
  display: flex;
  margin-left: 123px;
  margin-top: 16px;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 480px;
    height: 1675px;
    background-size: cover;
    background-position: 79% 50%;
  }

  .texts {
    margin-right: auto;
    margin-left: 70px;
    background: url(/img/tube.svg) no-repeat bottom -400px center;
  }

  .logo {
    display: flex;
    width: 200px;
    margin-top: 24px;
    margin-left: 40px;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    width: 240px;
    text-align: center;
  }

  .features {
    width: 270px;
  }
  .feature {
    font-size: 18px;
    line-height: 24px;
  }
  .forms {
    margin-top: 462px;
    max-width: 320px;
    margin-left: 45px;
  }

  h2 {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    margin-left: 12px;
    margin-bottom: 50px;
  }

  .price {
    font-size: 22px;
    line-height: 110%;
  }
  .number {
    font-size: 38px;
    line-height: 42px;
    text-align: center;
  }

  .inputs {
    margin-top: 40px;
    margin-left: 40px;
  }
  .button {
    margin-top: 20px;
    margin-left: 40px;
  }
  .special {
    font-size: 12px;
    line-height: 20px;
    display: flex;
    margin-top: 16px;
    margin-left: 100px;
  }
}
